<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>newtheme_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,52},{410,114}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,18},{410,114}}</string>
			<key>sourceSize</key>
			<string>{480,160}</string>
		</dict>
		<key>newtheme_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,50},{410,114}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,18},{410,114}}</string>
			<key>sourceSize</key>
			<string>{480,160}</string>
		</dict>
		<key>newtheme_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,46},{410,114}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,18},{410,114}}</string>
			<key>sourceSize</key>
			<string>{480,160}</string>
		</dict>
		<key>theend_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2888,1032},{960,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,640}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>theend_bg_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2568,98},{870,146}}</string>
			<key>offset</key>
			<string>{7,172}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,75},{870,146}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>theend_bg_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{872,192},{848,170}}</string>
			<key>offset</key>
			<string>{13,170}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{69,65},{848,170}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>theend_bg_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,168},{868,148}}</string>
			<key>offset</key>
			<string>{8,173}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,73},{868,148}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>theend_home.png</key>
		<dict>
			<key>frame</key>
			<string>{{2130,2},{72,72}}</string>
			<key>offset</key>
			<string>{-11,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,14},{72,72}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>theend_rate_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2596,2},{190,80}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,18},{190,80}}</string>
			<key>sourceSize</key>
			<string>{240,120}</string>
		</dict>
		<key>theend_rate_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2396,2},{198,80}}</string>
			<key>offset</key>
			<string>{3,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,18},{198,80}}</string>
			<key>sourceSize</key>
			<string>{240,120}</string>
		</dict>
		<key>theend_rate_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{2204,2},{190,80}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,18},{190,80}}</string>
			<key>sourceSize</key>
			<string>{240,120}</string>
		</dict>
		<key>theend_sina_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{3194,2},{196,80}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,18},{196,80}}</string>
			<key>sourceSize</key>
			<string>{240,120}</string>
		</dict>
		<key>theend_sina_EN.png</key>
		<dict>
			<key>frame</key>
			<string>{{2986,2},{206,80}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,18},{206,80}}</string>
			<key>sourceSize</key>
			<string>{240,120}</string>
		</dict>
		<key>theend_sina_TW.png</key>
		<dict>
			<key>frame</key>
			<string>{{2788,2},{196,80}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,18},{196,80}}</string>
			<key>sourceSize</key>
			<string>{240,120}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>accomplish-hd.png</string>
		<key>size</key>
		<string>{4096,4096}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:385f24a324f9dd1d25e26bd65515da44:536e814ddb5dc3875f0d8a8b5df6b8da:d5e849a57a87ef53e500130d77376857$</string>
		<key>textureFileName</key>
		<string>accomplish-hd.png</string>
	</dict>
</dict>
</plist>
