<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ss_cloud.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{960,152}}</string>
			<key>offset</key>
			<string>{0,-244}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,488},{960,152}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>ss_map_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1526,674},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1018,674},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,674},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1500},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1164},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,828},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,492},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{1361,338},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{853,338},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_map_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,156},{506,334}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{506,334}}</string>
			<key>sourceSize</key>
			<string>{516,340}</string>
		</dict>
		<key>ss_towers_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{625,330},{113,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{203,9},{113,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{681,272},{169,56}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{174,9},{169,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,272},{169,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{175,9},{169,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1869,338},{111,56}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{205,9},{111,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{740,330},{111,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{204,9},{111,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,330},{113,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{203,9},{113,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,156},{113,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{203,9},{113,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{739,214},{169,56}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{174,9},{169,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,156},{285,56}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{116,9},{285,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
		<key>ss_towers_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1980,2},{55,56}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{232,9},{55,56}}</string>
			<key>sourceSize</key>
			<string>{515,70}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>stages.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ac0d3b15eaa4d0c669c7769f837dadda$</string>
		<key>textureFileName</key>
		<string>stages.png</string>
	</dict>
</dict>
</plist>